
/*
* Common Variables
*/
$color-1: #00090f !default;
$color-2: #fff !default;
$color-3: #E6BB78; 
$color-4: #E7E7E7; 
$color-5: #eeb832;


$font-1:"brandon-grotesque",sans-serif;
$font-2:$font-1;



/****************************
*****************************
**** COMPONENT VARIABLES ****
*****************************
*****************************/

//FOOTER COMPONENT

$footer-heights:58px 58px 58px!default;