/*************************/
/////// GENERAL VARS //////
/*************************/
$backdrop-color:rgba($color-1, 0.6);
$content-paddings:(0px 24px 0px 24px)  (0px 24px) (40px 155px); 
$dialog-background: rgba($color-2, 1);

/*************************/
/////// CUSTOM VARS /////// 
/*************************/
$background-image-sm:url(../img/_mobile/background.jpg);
$background-image-md:url(../img/_desktop/background.jpg);

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/

.dialog-container{
	position: fixed; 
	top:0px; 
	left:0px; 
	width:100%; 
	z-index: 100;
	height:100%; 
	pointer-events: all;
	
	.dialog-backdrop{
		position:absolute; 
		top:0px; 
		left:0px; 
		width:100%; 
		height:100%;
		z-index: 105;
		background-color:$backdrop-color;
	}

	.dialog-content-wrapper{
		position: absolute;
		background-color:$dialog-background; 
		top:0px; 
		left:0px; 
		width:100%; 
		height:100%; 
		z-index: 110;
	}

	.close-button-container{
		position:absolute; 
		right:10px; 
		top:10px; 
		width:40px; 
		height:40px; 
		i{
			font-size:40px;
		}

		&:hover{
			cursor: pointer;
		}
	}

	.content-container{
		padding:nth($content-paddings, 1);
	}

	.content-wrapper{
		overflow-x: auto;
		width:100%; 
		height:100%;
		a{
			color:$color-1
		}
	}

	@include SmallDevice{
		.content-container{
			padding:nth($content-paddings, 2);
		}
	}
	
	@include MediumDevice{
		.content-wrapper{
			height:auto;
		}
		.dialog-content-wrapper{
			width:840px; 
			height:auto; 
			min-height: 80px;
			max-height: 590px; 
			top:auto; 
			position: relative;
			left:auto; 
			margin:0 auto; 
		}


		.content-wrapper{
			max-height:inherit;
		}

		.content-container{
			padding:nth($content-paddings, 3);
		}
	}
	
}

.dialog-service-wrapper{
	position:fixed; 
	left:0px; 
	top:0px; 
	height:100%; 
	width:100%; 
	z-index: 9999;
	pointer-events: none;
	display: none;
	&.shown{
		display: block;
	}
}

/*************************/
/////// CUSTOM CODE /////// 
/*************************/

.dialog-container{

	@include MediumDevice{
		.dialog-content-wrapper{
			width:100%; 
			position: absolute;
			bottom:0px; 
			left:0px; 
			height: auto; 
			
		}

	}
}