/*************************/
/////// GENERAL VARS //////
/*************************/

$tooltip-widths-gen: 40px 40px 40px; 
$background-color: $color-1; 
$triangle-widths: 5px 5px 5px;
$text-color:white;

/*************************/
/////// CUSTOM VARS /////// 
/*************************/
 

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/


.element-tooltip{
    position:relative; 
    color: $text-color;
    vertical-align: middle;

    &.trigger-on-hover:hover{
        & > .element-tooltip__content{
            display: block!important;
        }
    }

    &.trigger-on-click[data-visible="true"]{
        & > .element-tooltip__content{
            display: block!important;
        }
    }
}


.element-tooltip__content{
    display: none;
    position:absolute; 
    width:nth($tooltip-widths-gen, 1); 
    height: auto;
    background-color:$background-color;
    text-align: center;
    color: $text-color;
    vertical-align: middle;
    .element-tooltip__main{
        display: inline-block;
    }
    
    a,i{
        color: $text-color;
    }
}


.element-tooltip--top-side{
    .element-tooltip__content{
        bottom:100%; 
        left:50%; 
        margin-left:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
    }

    &.has-arrow{
        & > .element-tooltip__content{
            top:100%; 
        }
    }
}

.element-tooltip--bottom-side{
    .element-tooltip__content{
        top:100%; 
        left:50%; 
        margin-left:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
    }

    &.has-arrow{
        & > .element-tooltip__content{
            bottom:100%; 
        }
    }
}

.element-tooltip--top-side,
.element-tooltip--bottom-side{
    &.has-arrow{
        & > .element-tooltip__content{
            margin-bottom:10px;
            &:after{
                content:' ';
                position:absolute; 
                left:50%; 
                margin-left:-(nth($triangle-widths, 1)) - 0px; 
                width: 0; 
                height: 0; 
                border-left: nth($triangle-widths, 1) solid transparent;
                border-right: nth($triangle-widths, 1) solid transparent;
                border-top: (nth($triangle-widths, 1)*3) solid $background-color;
            }
        }

    }
}

.element-tooltip--right-side{
    .element-tooltip__content{
        top:50%; 
        right:100%; 
        margin-top:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
    }

    &.has-arrow{
        & > .element-tooltip__content{
            right:100%; 
        }
    }
}

.element-tooltip--left-side{
    .element-tooltip__content{
        top:50%; 
        right:100%; 
        margin-top:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
    }
    &.has-arrow{
        & > .element-tooltip__content{
            left:100%; 
        }
    }

}

.element-tooltip--right-side,
.element-tooltip--left-side{
    &.has-arrow{
        & > .element-tooltip__content{
            margin-right:10px;
            &:after{
                content:' ';
                position:absolute; 
                top:50%; 
                margin-top:-(nth($triangle-widths, 1)) - 0px; 
                width: 0; 
                height: 0; 
                border-top: nth($triangle-widths, 1) solid transparent;
                border-bottom: nth($triangle-widths, 1) solid transparent;
                border-left: (nth($triangle-widths, 1)*3) solid $background-color;
            }
        }
    }

}

/*************************/
/////// CUSTOM CODE /////// 
/*************************/