/*************************/
/////// GENERAL VARS //////
/*************************/
$background-image-sm:url(../img/_mobile/background.jpg);
$background-image-md:url(../img/_desktop/background.jpg);

$text-color-1:white;


/*************************/
/////// CUSTOM VARS /////// 
/*************************/
//holds the sizes for the client logo on the splashscreen for different media queries
$client-logo-widths:67px 67px 117px;
$client-logo-heights:19px 19px 33px;

//holds the sizes for the campaign logo on the splashscreen for different media queries
$campaign-logo-widths:167px 167px 363px;
$campaign-logo-heights:100px 100px 152px;

$splash-heights:100% 100% 100%;

$btn-widths: 148px 148px 170px;
$btn-heights: 46px 46px 52px;

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//font sizes for different media queries
$font-sizes:14px 16px 18px; 

//Line height of the description box
$desc-line-height:1.3em;

.splashscreen-container{
    position:absolute;
    overflow: hidden;
    left:0px; 
    top:0px;
    width:100%; 
    height:100%; 
    background-image:$background-image-sm; 
    background-size: cover; 
    background-position: top center;

    .client-logo-container{
        position: absolute;
        width:nth($client-logo-widths, 1); 
        height:nth($client-logo-heights, 1); 
        left:10px; 
        top:12px;
        .client-logo{
            width:100%; 
            height:100%;
        }
    }

    .table-container{
        margin:0 auto;
        height:100%;
    }

    .row-spacer{
        height:0px;
        td{
            padding:0px;
        }
    }


    @include SmallDevice{
        background-image:$background-image-md; 

        .client-logo-container{
            width:nth($client-logo-widths,2);
            height:nth($client-logo-heights,2);
        }

        .button-wrapper{
            display: inline-block;
            margin: 2ex 8ex;
        }
    }


    @include MediumDevice{

        .button-wrapper{
            margin: 4ex 14ex;
        }
        

        .client-logo-container{
            width:nth($client-logo-widths,3);
            height:nth($client-logo-heights,3);
        }
    
        &[data-visible="false"]{
            display: block!important;
        }

    }

    &[data-visible="true"]{
        display: block; 
    }

    &[data-visible="false"]{
        display: none;
    }
}



/*************************/
/////// CUSTOM CODE /////// 
/*************************/
